<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "https://www.clipartmax.com/png/middle/1-18632_free-film-wallpaper-clip-art-movie-logo-without-background.png" %>
      <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to "Home", "/", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Create a New List", "/lists/new", class: "nav-link" %>
        </li>
        <li class="avatar">
          <%= image_tag "https://avatars.githubusercontent.com/u/82000043?v=4", class: "avatar" %>
        </li>
      </ul>
    </div>
  </div>
    <%= yield %>
    <div class="footer">
      <div class="links">
        <a href="https://www.facebook.com/boxerman08"><i class="fab fa-facebook-f"></i></a>
        <a href="https://github.com/jboxerman08"><i class="fab fa-github"></i></a>
        <a href="https://www.instagram.com/jboxerman/"><i class="fab fa-instagram"></i></a>
      </div>
    <p>Click any icon above to get in touch with the developper! 😄</p>
    </div>
  </body>
</html>
